html,body{
    font-size:16px;
}
.hero{
    background-image:url('./assets/Star-wars-header.jpg');
    height: 470px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
@media screen and (max-width:991px){
.hero{
    height: 250px;
}
}

label{
    font-size:1.2rem;
    color:#343a40;
}
.loading{
    background-image: url(/static/media/Reload.b68fb56f.gif);
    width: 50px;
    height: 50px;
    display: block;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    left: 50%;
    margin-bottom: 20px;
    transform: translate(-50%, 0);
}
.navbar-brand a{
    color: white;
}